[package]
name = "modemmanager-sys"
version = "0.3.0"
edition = "2021"

[dependencies]
num = "0.4.1"
num-derive = "0.4.1"
num-traits = "0.2.17"
serde = { version = "1.0.192", features = ["serde_derive"] }
zvariant = { version = "3.15", optional = true }

[build-dependencies]
bindgen = "0.69.1"
pkg-config = "0.3.27"

[features]
zbus = ["dep:zvariant"]